:root{
  --sidebar-width: 200px;
}
body{
  font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei" sans-serif;
}

.content{
  background: #f9f9f9;
}
table.table tbody td{
  font-weight: normal;
}
.jl{
  justify-content: flex-start;
}
.jc{
  justify-content: center;
}
.jr{
  justify-content: flex-end;
}
.fixed-bottom{
  position: fixed;
  width:300px;
  bottom:0
}
.crud-grid-thumb{
  margin:0.5em;
  max-height:5em;
}